@media only screen and (max-width : 1100px) {
	.field {
		overflow: auto !important;
		width: 100% !important;
	}
	header {
		display: none;
	}
	#wrapper {
		perspective: none !important;
		position: static !important;
		margin: 0 !important;
	}
	#cube {
		width: 100% !important;
		margin: 10px auto;
		height: auto;
		box-shadow: none !important;
		.side {
			position: static !important;
			transform: none !important;
			border: none !important;
			width: 100% !important;
			.side-wrap {
				opacity: 1 !important;
				overflow: visible !important;
				h1 {
					height: 40px !important;
					line-height: 40px !important;
				}
				.content {
					padding: 10px 20px !important;
				}
			}
		}
	}
	.photo-face {
		width: 15% !important;
		margin-left: 10px;
	}
	.slider {
		display: none !important;
	}
	.github {
		margin-bottom: 20px;
	}
}
@media only screen and (max-width : 700px) {
	.photo-face {
		width: 20% !important;
	}
}